<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701366733071-nt7p3ivqq7ftmk76diqc30d3tbvuq3q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701366733071-nt7p3ivqq7ftmk76diqc30d3tbvuq3q1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>701366733071-bbi05uiig5fuip7ltipr9sthlqf82u5t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwVeX4w4tTBDn2BDFHioiVk_UIAS8jmxY</string>
	<key>GCM_SENDER_ID</key>
	<string>701366733071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charismakausar.foodstack</string>
	<key>PROJECT_ID</key>
	<string>foodstack-e8d0f</string>
	<key>STORAGE_BUCKET</key>
	<string>foodstack-e8d0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701366733071:ios:eaee41752e9266b3be167a</string>
	<key>DATABASE_URL</key>
	<string>https://foodstack-e8d0f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>